<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>

<!-- Pure CSS -->
<link rel="stylesheet"  href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>
<script 
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" 
    crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Responsive Tags -->
<script src="static/jquery.tagsinput-revisited.js"></script>
<link rel="stylesheet" href="static/jquery.tagsinput-revisited.css">

<!-- p5.js -->
<script src="{{ url_for('static', filename='p5.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<!-- main stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

{% macro post_widget(post, tag, image) -%}
<div class="post">
  <div class="post-infobar">
      <span>{{post['title']}}</span>
      {% if tag['textcat_all'] != '' %}
          <i class="fa fa-solid fa-tags"></i>
          <span>{{tag['textcat_all']}}</span>
      {% endif %}
      {% if userinfo and userinfo['user_id'] == post['author'] %}
      <a href="https://www.google.com" class="post-edit-btn"><i class="fa fa-edit"></i></a>
      {%endif%}
  </div>
  <a href="{{url_for('solver_page', post_id=post['post_id'])}}">
      <img class="post-img pure-img" src="data:;base64,{{ image }}">
  </a>
  <div class="post-footer">
      <i class="fa fa-solid fa-comments"></i>
      <span>4 comments</span>
  </div>
</div>
{%- endmacro %}

<body>
<div class="topnav">

    {% if userinfo and userinfo['name'] %}
    <a class="active"  href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('profile_page', username=userinfo['name']) }}">Profile Page</a>
    {% else %}
        <a class="active" href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <a href="{{ url_for('landing_page') }}">Home</a>
  <a href="{{ url_for('drawing_page') }}">Create a Drawing</a>
  <div class="search-container">
    <form action="{{ url_for('search') }}" method="get">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

</body>

</html>