{% extends 'base.html' %}

{% block title %} Dribbbl {% endblock %}

{% block content %}
    <div class="pure-menu" id="floating-rules-side">
        <span class="pure-menu-heading">Eat your vegetables</span>
    </div>

    <div class="post-gallery pure-g">
       
        {% for post, tag, image in zip(posts, tags, images) %}
        <div class="post-container pure-u-1 pure-u-md-1-2">
            <div class="post">
                <div class="post-infobar">
                    <span>{{post['title']}}</span>
                    {% if tag['textcat_all'] != '' %}
                        <i class="fa fa-solid fa-tags"></i>
                        <span>{{tag['textcat_all']}}</span>
                    {% endif %}
                    <a href="https://www.google.com" class="post-edit-btn"><i class="fa fa-edit"></i></a>
                </div>
                <!-- <img onclick="myFunction({{post['post_id']}})" class="post-img pure-img" src="{{url_for("view_post", post_id=post['post_id'])}}"> -->
                <a href="{{url_for('solver_page', post_id=post['post_id'])}}">
                    <img class="post-img pure-img" src="data:;base64,{{ image }}">
                </a>
                <div class="post-footer">
                    <i class="fa fa-solid fa-comments"></i>
                    <span>4 comments</span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="pagination">
        {% if page_num > 1 %}
        <a href="{{ url_for('landing_page', page=page_num-1) }}">PREVIOUS</a>
        {%endif%}
        {% if page_num < final_page %}
        <a href="{{ url_for('landing_page', page=page_num+1) }}">NEXT</a>
        {%endif%}
    </div>
    
    <script>
function myFunction(postID) {
    window.location.href='{{ url_for("solver_page", post_id="postID") }}';
}
    </script>

{% endblock %}
</html>