{% extends "base.html" %}
{% block title %} Solver {% endblock %}

{% block content %}
<div class="solver_content">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="solver_container {{'solved' if post['solved']}}">
                <div class="solver_author_content">
                    {% if post['solved'] %}
                        <i class="fa fa-solid fa-check solver_title_checkmark"> Solved</i>
                    {% endif %}
                    <div class="solver_title">
                        <h1>{{post['title']}}</h1>
                    </div>
                    <div class="solver_picture">
                        <img class="post-img pure-img" src="{{url_for("view_post", post_id=post['post_id'])}}">
                        {% if post['hint']%}
                            <div class="solver_hint" id="solver_hint_container">
                                <button id="solver_close_hint_btn" type="button">X</button>
                                <div id="solver_hint_content" class="solver_hint_content">
                                    <div id="solver_hint_confirmation">
                                        <p>Do you really want to see the hint?</p>
                                        <button id="solver_hint_yes" type="button">Yes</button>
                                        <button id="solver_hint_no" type="button">No</button>
                                    </div>
                                    <div id="solver_actual_hint">
                                        <p>{{post['hint']}}</p>
                                    </div>
                                </div>
                            </div>
                            <button id="solver_hint_btn" type="button">Hint</button>
                        {% else %}
                            <div class="solver_hint" id="solver_hint_container">
                                <button id="solver_close_hint_btn" type="button">X</button>
                                <div id="solver_hint_content" class="solver_hint_content">
                                    <div id="solver_hint_confirmation">
                                        <p>The author does not provide hint</p>
                                    </div>
                                </div>
                            </div>
                            <button id="solver_hint_btn" type="button">Hint</button>
                        {% endif %}
                    </div>
                    <div class="solver_description_div">
                        <div class="solver_description_inside_container">
                            <p>Description: <i>{{post['descrip'] if post['descrip'] else "No description."}}</i></p>
                            <p>By: 
                                <a href="/user/{{author[0][1]}}">{{author[0][1]}}</a>
                            </p>
                            {% if tags['textcat_all'] != '' %}
                            <i class="fa fa-solid fa-tags"></i>
                            <span>{{tags['textcat_all']}}</span>
                            {% else %}
                            <i class="fa fa-solid fa-tags"></i>
                            <span>No tags</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="solver_users_content">
                    <div class="solver_user_input_div">
                        <form class="pure-form" id="userSolveAns" name="userSolveAns" method="POST">
                            <fieldset>
                                <h3>Comments</h3>
                                <input type="text" class="pure-input-1 " id="answer" name="answer"
                                    placeholder="What do you think it is? {{'Must be logged in to comment.' if not userinfo}}" 
                                    maxlength="50" pattern="[A-Za-z ]+" {{'disabled' if not userinfo}}
                                    title="Only letters and spaces allowed" required>
                                <br>
                                <button {{'disabled' if not userinfo}} type="submit" 
                                    class="solver_button_success pure-button">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="solver_other_user_answers">
                        <!-- Get data from database and do for loop here -->
                        {% if post['show_comment'] %}
                            {% for comment in comments %}
                            <div class="solver_each_user_all_data">
                                <div class="solver_each_user_profile">
                                    <!-- profile pic -->
                                    <img class="solver_profile_pic"
                                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                        alt="profile-pic">
                                </div>
                                <div class="solver_each_user_answer_div {{'solved' if comment['content'] == post['solution']}}">
                                    <p class="solver_username"><b>{{comment['username']}}</b></p>
                                    <p class="solver_answer">{{comment['content']}}</p>
                                </div>
                            </div>
                            {% else %}
                            <h1 class="solver_title">No comments yet.</h1>
                            {% endfor %}
                        {% else %}
                            <h1 class="solver_title">Comments are hidden by the author.</h1>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#solver_hint_btn").click(function(){
        $("#solver_hint_container").show();
    });
    $("#solver_close_hint_btn").click(function(){
        $("#solver_hint_confirmation").show();
        $("#solver_hint_container").hide();
        $("#solver_actual_hint").hide();
    });
    $("#solver_hint_yes").click(function(){
        $("#solver_hint_confirmation").hide();
        $("#solver_actual_hint").show();
    });
    $("#solver_hint_no").click(function(){
        $("#solver_hint_confirmation").show();
        $("#solver_hint_container").hide();
        $("#solver_actual_hint").hide();
    });
    

    

</script>
{% endblock %}
