{% extends "base.html" %}
{% block title %} Solver {% endblock %}

{% block content %}
<div class="solver_content">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="solver_container">
                <div class="solver_author_content">
                    <div class="solver_title">
                        <h1>Title</h1>
                    </div>
                    <div class="solver_picture">
                        <!-- Attach the pic here -->
                    </div>
                    <div class="solver_description_div">
                        <p>Description</p>
                        <p>By: <i>@author</i></p>
                        <p>Tags: tags</p>
                    </div>
                </div>
                <hr>
                <div class="solver_users_content">
                    <div class="solver_user_input_div">
                        <form class="pure-form" id="userSolveAns" name="userSolveAns">
                            <fieldset>
                                <h3>Thought?</h3>
                                <input type="text" class="pure-input-1 " id="answer" name="answer" placeholder="What do you think it is ?"
                                    maxlength="50" pattern="[A-Za-z ]+" title="Special characters not allowed" required>
                                <br>
                                <button type="submit" class="solver_button_success pure-button">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="solver_other_user_answers">
                        <!-- Get data from database and do for loop here -->
                        <div class="solver_each_user_all_data">
                            <div class="solver_each_user_profile">
                                <!-- profile pic -->
                                <img class="solver_profile_pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile-pic">
                            </div>
                            <div class="solver_each_user_answer_div">
                                <p class="solver_username"><b>UserA</b></p>
                                <p class="solver_answer">Answer</p>
                            </div>
                        </div>
                        <div class="solver_each_user_all_data">
                            <div class="solver_each_user_profile">
                                <!-- profile pic -->
                                <img class="solver_profile_pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile-pic">
                            </div>
                            <div class="solver_each_user_answer_div">
                                <p class="solver_username"><b>UserA</b></p>
                                <p class="solver_answer">Answer</p>
                            </div>
                        </div>
                        <div class="solver_each_user_all_data">
                            <div class="solver_each_user_profile">
                                <!-- profile pic -->
                                <img class="solver_profile_pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile-pic">
                            </div>
                            <div class="solver_each_user_answer_div">
                                <p class="solver_username"><b>UserA</b></p>
                                <p class="solver_answer">Answer</p>
                            </div>
                        </div>
                        
                        
                        
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}